---
import { getCollection, render } from "astro:content";
import Layout from "@layouts/Layout.astro";
import HomeLayout from "@layouts/HomeLayout.astro";
import NavigationContainer from "@components/NavigationContainer.astro";

export async function getStaticPaths() {
  const dataProcessingInfo = await getCollection("dataProcessingInfo");
  return dataProcessingInfo.map((item) => {
    return {
      params: { slug: item.data.slug },
      props: {
        slug: item.data.slug,
        title: item.data.title,
        content: item.data.content,
        navigation: item.data.navigation,
        item,
      },
    };
  });
}
const { slug, title, content, navigation, item } = Astro.props;
const { Content } = await render(item);
---

<Layout>
  <HomeLayout>
    <div class="max-w-full xl:max-w-2xl w-full">
      <h1 class="text-left">{title}</h1>
      <Content />
      <NavigationContainer data={navigation} />
    </div>
    <div class="h-full relative hidden xl:block">
      <div
        class="w-56 h-[calc(100vh-8rem)] pr-6 fixed overflow-y-auto scrollbar"
      >
        {
          content && content.length > 0 && (
            <nav>
              <span class="font-bold">Contenido</span>
              <ul class="list-none mt-4">
                <li class="flex flex-col gap-2 py-0.5">
                  {content?.map((item) => (
                    <a href={`${slug}#${item.slug}`}>
                      <span class="font-normal block cursor-pointer">
                        {item.title}
                      </span>
                    </a>
                  ))}
                </li>
              </ul>
            </nav>
          )
        }
      </div>
    </div>
  </HomeLayout>
</Layout>
